@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --popover: 224 71% 4%;
    --popover-foreground: 213 31% 91%;

    --primary: 263 88% 78%;
    --primary-foreground: 263 88% 20%;

    --secondary: 215 28% 17%;
    --secondary-foreground: 213 31% 91%;

    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 215 28% 27%;
    --accent-foreground: 213 31% 91%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 263 88% 78%;

    --radius: 0.5rem;
    
    --sidebar-background: 225 13% 13%;
    --sidebar-foreground: 213 31% 91%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --popover: 224 71% 4%;
    --popover-foreground: 213 31% 91%;

    --primary: 263 88% 78%;
    --primary-foreground: 263 88% 20%;
    
    --secondary: 215 28% 17%;
    --secondary-foreground: 213 31% 91%;

    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 215 28% 27%;
    --accent-foreground: 213 31% 91%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 263 88% 78%;

    --sidebar-background: 225 13% 13%;
    --sidebar-foreground: 213 31% 91%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
